<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JavaScriptEngineSwitcher.ChakraCore.Native.win-x64" version="2.4.6" targetFramework="net40" />
  <package id="JavaScriptEngineSwitcher.Core" version="2.4.9" targetFramework="net40" />
  <package id="JavaScriptEngineSwitcher.V8" version="2.4.2" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.NET.Sdk" version="1.0.0-alpha-20161104-2" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="NuGet.Build.Tasks.Pack" version="4.0.0-rc-2048" targetFramework="net40" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net40" />
</packages>